:root {
	--main-bgc: #222;
	--text-color: #aaa;
	--text-color-hover: #777;
	--block-color: #333;
	--block-border-radius: 10px;
	--transition-time: .15s;
	--hover-opacity: 0.7;
	--badge-border-radius: 6px;
	
	--border-width-between-blocks: 2px;
	--border-color-between-blocks: var(--main-bgc);
	
	--header-panel-bgc: var(--main-bgc);
	--header-panel-btns-color: var(--block-color);
	--header-panel-btns-hover-opacity: var(--hover-opacity);
	
	--page-controls-bgc: var(--block-color);
	--page-controls-btns-color: var(--main-bgc);
	--page-controls-btns-border-radius: 18px;
	--page-controls-text-color: var(--text-color);
	--page-controls-btns-hover-opacity: var(--hover-opacity);
	
	--subject-card-bgc: var(--block-color);
	--subject-card-text-color: var(--text-color);
	
	--links-containter-color: var(--block-color);
	--links-hover-color: var(--main-bgc);
	
	--notify-hover-color: var(--main-bgc);
	
	--progress-icon-width: 4px;
	--progress-info-padding: 2px 15px;
}

 /*Main block */
.x756ca__ui-page-wrapper, .xe0a46__ui-page-wrapper {
	background-color: var(--main-bgc);
}

 /*Top panel */
.xa078a__top-panel {
	background-color: var(--header-panel-bgc);
}

.xa078a__top-panel * {
	color: var(--text-color);
}

.x1fe92__navigation-item_selected * {
	color: var(--text-color-hover) !important;
}

.x2c6ec__button {
	background-color: var(--header-panel-btns-color);
}
.x2c6ec__button:hover {
	opacity: var(--header-panel-btns-hover-opacity);
	background-color: var(--header-panel-btns-color) !important;
}

.x2c6ec__button svg * {
	fill: var(--subject-card-text-color);
}

.xb4418__counter-wrapper {
	box-shadow: none;
	border: 2px solid var(--text-color);
	background-color: var(--header-panel-btns-color);
}

 /*Subject card */
.x69e9f__container {
	background-color: var(--subject-card-bgc);
}

.x8295e__title, .xc401b__status-text {
	color: var(--subject-card-text-color);
}

.xda0d8__badge_type_default {
	background-color: var(--subject-card-text-color);
	color: var(--subject-card-bgc);
	border-radius: var(--badge-border-radius);
}

 /*Page controls (middle panel) */

.xe0a46__controls, .x0c84e__controls {
	background-color: var(--page-controls-bgc);
}

.xc1036__tab-control, .x6ddd2__search-field {
	background-color: var(--page-controls-btns-color);
	border-radius: var(--page-controls-btns-border-radius);
	border: none;
}

.xc1036__tab-control, .x6ddd2__search-field::placeholder {
	color: var(--text-color);
	transition: opacity var(--transition-time);
}

.x28bf6__search:after {
	background: var(--text-color);
	-webkit-mask-image: url(/app/assets/learn-user-portal/css/res/search-icon_aaaa27a6.svg);
    mask-image: url(/app/assets/learn-user-portal/css/res/search-icon_aaaa27a6.svg);
}

.xc1036__tab-control:hover {
	background-color: var(--page-controls-btns-color);
	color: var(--text-color);
	opacity: var(--page-controls-btns-hover-opacity);
}

 /*logo */
.xc3ede__color-top-panel-text-default {
	fill: var(--text-color);
}

 /*links container */
.xc935d__container {
	background-color: var(--block-color);
}

.xc935d__container * {
	color: var(--text-color) !important;
}

.xc935d__link {
	background-color: var(--links-containter-color);
	transition: background-color var(--transition-time);
	border-block-end: none;
}

.xc935d__link:hover {
	background-color: var(--links-hover-color);
}

 /*Notify containter */
.x582c4__popup {
	background-color: var(--main-bgc);
}
.x582c4__popup * {
	background-color: var(--block-color);
	transition: background-color var(--transition-time);
}

.x34335__subheader, .x34335__subheader * {
	background-color: var(--main-bgc);
}

.x34335__subheader svg * {
	fill: var(--text-color);
}

.xce052__item {
	border-block-end: none;
}

.xce052__item:hover, .xce052__item:hover * {
	background-color: var(--notify-hover-color);
}



 /*Profile containter */
.x9e3f5__container {
	background-color: var(--block-color);
}
.x9e3f5__container * {
	color: var(--text-color);
}

.x65280__role {
	color: var(--main-bgc);
	background-color: var(--text-color);
}

.x65280__border {
	background-color: var(--block-color);
}

/* Subject page */
.x53ed8__section {
	overflow: hidden;
	background-color: var(--main-bgc);
	border-radius: var(--block-border-radius);
}

.x78237__module {
	background-color: var(--block-color);
	transition: opacity var(--transition-time);
}

.x78237__module:hover {
	background-color: var(--block-color);
	opacity: var(--hover-opacity);
}


.x78237__module:hover  {
	background-color: var(--block-color);
	opacity: var(--hover-opacity);
}

.x78237__module * {
	color: var(--text-color);
}

.x78237__module:hover * {
	color: var(--text-color) !important;
}

.x78237__content {
	border-block-end: none !important;
}

.x78237__title {
	font-weight: bold;
}

/* progress icon */
.xfed31__in-progress-icon * {
	stroke-width: var(--progress-icon-width);
}

.xfed31__background {
	stroke: var(--text-color) !important;
}

.xed2c2__text, .x78237__module:hover .xed2c2__text {
	display: inline-block;
	padding: var(--progress-info-padding);
	background-color: var(--text-color);
	color: var(--block-color) !important;
	border-radius: var(--badge-border-radius);
}
